
  <meta charset="utf-8" />
  <title>Fossil Fuel Emissions</title>
  <meta name="author" content="You">
  <meta name="description" content="Fossil Fuel emissions">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <%- include ('navbar', {data: data});  %>
  <h>Fossil Fuel Emissions</h>
